/* Target by Element */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    border: 0;
}

h1 {
    font-size: 38px;
}

h2{
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4{
    font-family: 20px;
}

h5{
    font-family: 18px;
}

h6 {
    font-family: 16px;
}

/* Add a few classes 
    
*/

/* Base styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Header */
.custom-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding: 16px;
    background: bisque;
}

.custom-h2 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    margin:0px;
    padding:1em;
    font: 20px;
    background: aliceblue;
}

.custom-h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


header.top {
    width: 100%;
    background: #eee;
}

header.top  {
    width: 100%;
    
}

article{
    width: 70%;
    float: left;
}

.content p {
    padding: 20px;
}
aside {
    width: 30%;
    float: left;
}
.side-content ul {
    padding:20px;
}

.footer-content {
    height: 60px;
    text-align: center;
    border-top: 1px solid black;
    clear: both;
    padding: 20px;
    margin: 20px;
}


/* Target by ID 
*/
#navigation {
    width: 100%;
    background: #eee;
}

#navigation a { 
    display: inline-block;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 1em;
    line-height: 2.5;    
}

#navigation a:hover { 
    background: ghostwhite;    
}