@{
    ViewData["Title"] = "Make it a Movie Night";

    
}
@section Scripts {
    <script src="~/dist/js/index.js" type="text/javascript"></script>
}

<section class="hero-section">
    <div id="hero">
        <img class="main-banner" src="http://placehold.it/1440x350&text=Hero+Image">
    </div>
</section>
<section id="how-to-section" class="how-to-section">
    <h2 class="h3 mb-3">Pick a recipe and discover a movie to watch for the night!</h2>
    <div class="row mb-3">
        <div class="col-md-4">
            <h3 class="h4"> Step 1: Search for a Recipe: </h3>
        </div>
        <div class="col-md-4">
            <h3 class="h4"> Step 2: Discover a movie: </h3>
        </div>
        <div class="col-md-4">
            <h3 class="h4"> Step 3: Have a Dinner and Movie Night</h3>
        </div>
    </div>
</section>
<section id="react-section" class="search-results mb-3"></section>